.login {
  height: fit-content;
  margin-right: 1rem;

  padding: 1.5ch 2.5ch;
  border: none;
  border-bottom: 2px dotted brown;
  border-radius: 14px 14px 2px 2px;
  background-color: var(--u-green);
  box-shadow: 1px -1px 2px black;
  cursor: pointer;
}
