<!-- iframe_content.html -->
<!DOCTYPE html>
<html>
<head>
    <title>IFrame</title>
</head>
<body>
    <a href="#" onclick="redirectParentPage()">Click here to redirect the parent page</a>
    <a data-auto-recognition="true" href="mailto:zuliascleaning@gmail.com" class="wixui-rich-text__text">zuliascleaning@gmail.com</a>
    <script>
        function redirectParentPage() {
            // Redirect the parent page to the desired URL
            parent.location.href = "/profile";
        }
    </script>
</body>
</html>

