{% extends "layout.html" %}
{% block app_content %}
    <h1>Have a Sunny Day</h1>
    <!-- enter personal info and links -->
    <div class="contact">
        <br>    
        <div class="btn-group open">
        <a class="btn btn-primary" href="https://www.linkedin.com/in/mark-ehler-85052548/"><i class="fa fa-linkedin-square"></i> Linkedin</a>
        </div>
    <br>
    <br>
        <div class="btn-group open">
        <a class="btn btn-primary" href="https://github.com/MarkEhler"></a><i class="fa fa-github"></i> Github
        </div>
    </div>

{% endblock app_content %}