.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: brown;
  box-shadow: 0 2px 6px black;
  height: 70px;
}
.header .logo {
  margin: 0;
  font-size: 1.5rem;
}
