{% extends "layout.html" %}
{% block app_content %}
    <!-- enter personal info and links -->
      <div class="definitions">
        <h3><b>Community</b></h3>
        <h4>[ kuh-myoo-ni-tee ]</h4>
            <b>A group of people living in the same locality.</b>
            <br>
            <b> A group of people having the same interests.</b>
            <br>
            <br>
        <h3><b>Agriculture</b></h3>
        <h4>[ ag-ri-kuhl-cher ]</h4>
          <b>The science, art, and business of cultivating soil, producing crops, and raising livestock; farming.</b>
        <br>  
      </div>
      <br>
      <br>
        <div class="contact">
          <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
          <p>While volunteering in rural Nepal, I saw how agriculture could bring a village together.  We're so connected now but we live disconnected from our world and our neighbors.  This is a project in rediscovering ourselves while tuning ourselves to our surroundings.  I believe that through collective action we can close the gap that haw grown between agriculture and community, these two things so essential to us.  Follow me on this journey.  Let's start by making the map.  </p>
          <p>--Mark Ehler</p>
          <div class="map">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <h2>Community Agriculture Project</h2>
                  <br>
                  <a class="btn btn-success" href="/map"><i class="fa fa-leaf"></i></a>
                  <p>under development</p>
                </div>
              </div>
        </div> 
            <div class="btn-group open">
            <a class="btn btn-default" href="https://www.linkedin.com/in/mark-ehler-85052548/"><i class="fa fa-linkedin-square"></i></a>
            <a class="btn btn-default" href="https://github.com/MarkEhler"><i class="fa fa-github"></i></a>
            <a class="btn btn-default toggle-text" data-toggle="collapse" href="#"><i class="fa fa-envelope-o"></i><span class="hidden"> m.ehler@comcast.net </span></a>
            </div>
            <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="/static/orchard.png" alt="orchard", width="70%", location = "center">

            <!-- Font Awesome 
        <i class="fa fa-leaf" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>List icons</li>
            <li><i class="fa-li fa fa-check-square"></i>can be used</li>
            <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
            <li><i class="fa-li fa fa-square"></i>in lists</li>
            <i class="fa fa-coffee" aria-hidden="true"></i>
          </ul>
        
        <a class="btn btn-danger" href="#">
  <i class="fa fa-trash-o fa-lg"></i> Delete</a>
<a class="btn btn-default btn-sm" href="#">
  <i class="fa fa-cog"></i> Settings</a>

<a class="btn btn-lg btn-success" href="#">
  <i class="fa fa-flag fa-2x pull-left"></i> Font Awesome<br>Version 4.7.0</a>

<div class="btn-group">
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-left" title="Align Left"></i>
  </a>
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-center" title="Align Center"></i>
  </a>
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-right" title="Align Right"></i>
  </a>
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-justify" title="Align Justify"></i>
  </a>
</div>

bootstrap form icons

<div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  <input class="form-control" type="text" placeholder="Email address">
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  <input class="form-control" type="password" placeholder="Password">
</div>

<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
  </ul>
</div>

             -->
    </div>


{% endblock app_content %}