{% extends "layout.html" %}
{% block app_content %}
    <h1>About</h1>
    <!-- enter personal info and links -->
    <div class="contact">
        <h3>Mark Ehler</h3>
        <p>While volunteering in rural Nepal, Mark saw how agriculture could bring a village together.  Now back home, he knows the best way to see positive change is through collective action.</p>
        <a href="https://www.linkedin.com/in/mark-ehler-85052548/">Linkedin</a>
        <br>
        <a href="https://github.com/MarkEhler">Github </a>
        <br>
        <a href="https://www.surveymonkey.com/r/W3FWQV9">Please take this brief survey</a>
        <br>
        <img src="/static/sunburst.jpg" alt="sunburst", width="90%", location = "center">
    </div>
    <body>
        <script>(function(t,e,s,o){var n,a,c;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),a=n[n.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=o,c.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd_2BT2ezxuTydQdCuuGFdCfkS4wRbe3Uo6nRb2_2FOILSedo.js",a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>
    </body>

{% endblock app_content %}