{% extends "layout.html" %}
{% block app_content %}
    <h1>About Page</h1>
    <!-- enter personal info and links -->
    <div class="contact">
        <p> This sim was created by Mark Ehler using government solar test sites and current weather data from your supplied location. It should give a fairly accurate estimate of wattage based on solar math and adjusted for time of day, latitude and temperature.  Have a sunny day!</p>
        <a href="https://news.energysage.com/how-much-does-the-average-solar-panel-installation-cost-in-the-u-s/">Solar Panel Installation Costs</a>
        <br>
        <a href="https://www.linkedin.com/in/mark-ehler-85052548/">Linkedin</a>
        <br>
        <a href="https://github.com/MarkEhler">Github </a>
        <br>
        <br>
        <img src="/static/sunburst.jpg" alt="sunburst", width="90%", location = "center">
    </div>

{% endblock app_content %}