<!-- floating code for the map box -->

{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

      <div class="map">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h2>Community Agriculture Project</h2>
              <br>
              <a class="btn btn-success" href="/map"><i class="fa fa-leaf"></i></a>
              <p>under development</p>
            </div>
          </div>
        </div>
      </div>
      <div class="links">
    <!-- Date : <input type="text" id=date>  -->
      </div>
      <div>
        <img src="/static/banner.png" alt="planting_trees", width="100%", location = "center">
    </div>
{% endblock %}


