{% extends "layout.html" %}
{% block app_content %}
    <div class="google_forms_iframe">

    <body>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQFXLtKAvwyEwEM4Wm-4mPw96ppKzMoKzy3ww_PkqN1APOHg/viewform?embedded=true" width="640" height="1889" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </body>
    </div>
    <div>
        <br>
        <img src="/static/banner.png" alt="banner", width="72%", location = "center">
    </div>
{% endblock app_content %}