{% extends "layout.html" %}
{% block app_content %}
    <div class="contact">

    <body>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdMcVM9-m9wIySnytV_PTfDHVxrya5ecNSrDL7TunFNzehZYw/viewform?embedded=true" width="640" height="988" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </body>
    </div>
    <div class="btn-group open">
        <a class="btn btn-default" href="https://www.linkedin.com/in/mark-ehler-85052548/"><i class="fa fa-linkedin-square"></i></a>
        <a class="btn btn-default" href="https://github.com/MarkEhler"><i class="fa fa-github"></i></a>
        <a class="btn btn-default toggle-text" data-toggle="collapse" href="#"><i class="fa fa-envelope-o"></i><span class="hidden"> m.ehler@comcast.net </span></a>
    </div>
    <div>
        <br>
        <img src="/static/planting_trees.png" alt="planting_trees", width="72%", location = "center">
    </div>
{% endblock app_content %}