{% extends "layout.html" %}
{% block app_content %}

<img src="/plot.png" alt="my plot">
		
<!-- 		<div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/graph.js"></script> -->

{% endblock app_content %}